In [1]:
#Dpendecies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

# importing dataset

In [2]:
df = pd.read_csv('Salary_Data_Based_country_and_race - Salary_Data_Based_country_and_race.csv')
df

,Unnamed: 0,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race
0,0,32,Male,Bachelor's,Software Engineer,5.0,"$90,000.00",UK,White
1,1,28,Female,Master's,Data Analyst,3.0,"$65,000.00",USA,Hispanic
2,2,45,Male,PhD,Senior Manager,15.0,"$150,000.00",Canada,White
3,3,36,Female,Bachelor's,Sales Associate,7.0,"$60,000.00",USA,Hispanic
4,4,52,Male,Master's,Director,20.0,"$200,000.00",USA,Asian
...,...,...,...,...,...,...,...,...,...
6695,6699,49,Female,PhD,Director of Marketing,20.0,"$200,000.00",UK,Mixed
6696,6700,32,Male,High School,Sales Associate,3.0,"$50,000.00",Australia,Australian
6697,6701,30,Female,Bachelor's Degree,Financial Manager,4.0,"$55,000.00",China,Chinese
6698,6702,46,Male,Master's Degree,Marketing Manager,14.0,"$140,000.00",China,Korean
6699,6703,26,Female,High School,Sales Executive,1.0,"$35,000.00",Canada,Black

In [3]:
#checking rows and columns
df.shape

(6700, 9)

In [4]:
#finding null values in datasets
df.isnull().sum()

Unnamed: 0             0
Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 2
Country                0
Race                   0
dtype: int64